!.gitignore
.*
*~
obsolete/
csdatabase/
states/
sdcv/stardict-*

config/
!config/awesome/
!config/gtk-2.0/
!config/gtk-3.0/
!config/htop/
!config/termite/
!config/vifm/
!config/compton.conf
!config/Xorg/
!config/init.py
