.~
!.gitignore
*~
obsolete/
csdatabase/
states/
vim/vim/
!vim/vim/makeprg.sh
!vim/vim/ycm_extra_conf.py
sdcv/
!sdcv/download_dicts.sh
config/
!config/awesome/
!config/gtk-2.0/
!config/gtk-3.0/
!config/htop/
!config/pcmanfm/
!config/termite/
!config/vifm/
!config/compton.conf
